<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css"/>
    <style>
        .card-custom-bg {
            background-color: rgba(102, 219, 255, 0.53); /* Light blue color */
            color: black; /* Ensure text is readable on the light blue background */
            border: 1px solid #e1e4e8; /* Optional: Add a border similar to Bootstrap card borders */
        }
        .font-red {
            color: red;
        }
        .font-green {
            color: green;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-3 mb-5">
    <h1>Cards</h1>
    <a th:href="@{'/userId' + ${userId} + '/cards/add'}" class="btn btn-primary">Add new card</a>
    <a th:if="${@userSecurity.hasAuthority('developers:write')}" th:href="@{'/userId' + ${userId} + '/cards/cardTypes'}" class="btn btn-primary">Card Types</a>
    <p>Sort by:
        <span>
            <a th:href="@{'/userId' + ${userId} + '/cards/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">name</a>
        </span>
        <span>
            <a th:href="@{'/userId' + ${userId} + '/cards/page/' + ${currentPage} + '?sortField=balance&sortDir=' + ${reverseSortDir}}">balance</a>
        </span>
    </p>
    <div class="row">
        <div th:each="el : ${cards}" class="col-md-6">
            <div class="card mb-3 card-custom-bg">
                <div class="card-body">
                    <h3 th:text="${el.name}"></h3>
                    <p th:text="'Type: ' + ${el.cardType.name}"></p> <!-- Display the card type -->
                    <p th:text="'Number: ' + ${el.number}"></p>
                    <p th:text="'Balance: ' +${el.balance}"></p>
                    <p>
                        Status: <span class="font-red" th:if="${el.isBlocked}">Blocked</span>
                        <span class="font-green" th:if="${!el.isBlocked}">Active</span>
                    </p>
                    <div class="d-inline">
                        <a th:href="'/userId'+ ${userId} + '/cards/id' + ${el.id}+'/deposit'" class="btn btn-success">Deposit</a>
                        <a th:href="'/userId'+${userId}+'/cards/id' + ${el.id}" class="btn btn-warning">Details</a>
                        <a th:href="'/userId' + ${userId} + '/cards/transfer?fromCardId=' + ${el.id}" class="btn btn-info">Transfer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                total cards: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
                <span th:each="i:${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{'/userId' + ${userId} +'/cards/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
                </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/userId' + ${userId} +'/cards/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span> &nbsp;&nbsp;
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/userId' + ${userId} +'/cards/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span> &nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
