<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mb-5">
    <h1>User list</h1>
    <div th:each="el : ${users}" class="alert alert-info mt-2 div-inline">
        <h3 th:text="${el.username}"/>
        <p th:text="'Role: ' +${el.role}"/>
        <a th:href="'/userId'+ ${el.id}" class="btn btn-primary">Go to profile</a>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>