<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
    ...
    <property name="additionalDialects">
        <set>
            <!-- Note the package would change to 'springsecurity[5]' if you are using that version -->
            <bean class="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect"/>
        </set>
    </property>
    ...
</bean>
<div th:fragment="header">
    <header class="site-header sticky-top py-1">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/cells" style="color:lightblue">Banking</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{'/userId'+${userId}}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{'/userId'+${userId}+'/cards'}">Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{'/userId'+${userId}+'/transactions'}">Transactions</a>
                        </li>
                    </ul>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-outline-primary" type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</div>